<div class="card mt-4">
    <div class="row">
        <div class="col-4">    
            
            <img [src]="Loja.logotipo" 
                class="img-Loja" height="96" 
            >
            
        </div>
        <div class="col-6">
            <h4>
                {{Loja.nome}}
            </h4>
        </div>
        <ng-content></ng-content>
    </div>
    <div class="row">

        <div class="col-4 mx-1">

            <span class="text-muted small">
                Prefira: <b>{{Loja.melhor_hora}}</b>
            </span>

        </div>

        <div class="col-6">
            <span class="text-muted small">
                {{Loja.endereco}}
            </span>
        </div>

    </div>
</div>
