<div class="card mx-auto">
	<div class="card-header">
        Loja
    </div>

    <div class="card-body">
        <form [formGroup]="LojaForm" novalidate> 
                <div class="form-row">
                    <div class="col">
                        <label>Nome:</label>
                        <input formControlName="nome" type="text" class="form-control" placeholder="Nome">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>Melhor horário:</label>

                        <select formControlName="melhor_hora">
                
                            <option value="Manhã">Manhã</option>
                            <option value="Meio-dia">Meio-dia</option>
                             <option value="Tarde">Tarde</option>
                             <option value="Noite">Noite</option>
    
                        </select>

                    </div>
                </div>

                <app-zip-code 
                [parentForm]="LojaForm"
                (send)=setAddress($event)>
                </app-zip-code>
                <div class="form-row">
                    <div class="col">
                        <label>Endereço:</label>
                        <input formControlName="endereco" type="text" class="form-control" readonly>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label>Logotipo:</label>
                        <input formControlName="logotipo" type="text" class="form-control" placeholder="logotipo">
                    </div>
                </div>

            <div class=" form-group">
                <button (click)="LojaList.save(LojaForm.value)" type="button" [disabled]="!LojaForm.valid" 
                class="btn btn-info btn-block">
                  Enviar
                </button>
            </div>
        </form>
    </div>

</div>

<app-Loja-list
#LojaList
></app-Loja-list>
