<div class="card mt-4">
    <div class="row">
        <div class="col-4">    

            <div *ngIf="isAdmin()">
                <img  [src]="Fila.pessoa.foto"
                class="img-Fila" height="96" 
                >
                <br>
                <a [routerLink]="['/Pessoa', Fila.pessoa.nome]">
                    {{Fila.pessoa.nome}}
                </a>
            </div>
            <div  *ngIf="!isAdmin()">
                <img [src]="Fila.loja.logotipo" 
                class="img-Fila" height="96" 
                >
                <br>
            </div>
            
        </div>
        <div class="col-6">
            <h4>
                <a *ngIf="isAdmin()" [routerLink]="['/Loja', Fila.loja.nome]">
                    {{Fila.loja.nome}}
                </a>
                <span *ngIf="!isAdmin()">
                    {{Fila.loja.nome}}
                </span>
            </h4>
        </div>
        <ng-content></ng-content>
    </div>
    <div class="row">

        <div class="col-4 mx-1">
            <span class="text-muted small">
                Posição: <strong>{{Fila.posicao}}</strong>
            </span>
        </div>
        <div class="col-6">
            <span class="text-muted small">
                {{Fila.observacao}}
            </span>
        </div>

    </div>
</div>
