<div class="card mx-auto">
	<div class="card-header">
        Fila
    </div>

    <div class="card-body">
        <form [formGroup]="FilaForm" novalidate> 

            <div class="form-group">
                <div class="form-row">
                    <div class="col-3">
                        <img  [src]="fotoPessoa()"
                        style="max-width: 110px;"
                        class="img-Fila" height="96" 
                        >
                    </div>
                    <div class="col">
                        <label>Pessoa:</label>
                        <input formControlName="pessoa" type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>

                <div class="form-row">
                    <div *ngIf="isAdmin()" class="col">
                        <label>Posição da pessoa na fila:</label>
                        <input formControlName="posicao" type="number" class="form-control" placeholder="Posição"
                        min="1">
                    </div>
                    <div *ngIf="!isAdmin()" class="col">
                        <input formControlName="observacao" type="text" rows="5" class="form-control" placeholder="Observação">
                        <small style="color:gray; margin-left: 10%"
                        >* Aqui você diz se vai se atrasar, se precisa de vaga no estacionamento, se vai com seu cachorro</small>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="col">
                        <label>Loja:</label>
                        <select formControlName="loja">
                            <option *ngFor="let loja of lojas" value="{{loja.loja_id}}">
                                {{loja.nome}}
                            </option>
                        </select>
                    </div>
                </div>

            <div class=" form-group">
                <button (click)="FilaList.save(FilaForm.value)" type="button" [disabled]="!FilaForm.valid" 
                class="btn btn-info btn-block">
                  Enviar
                </button>
            </div>
        </form>
    </div>

</div>

<app-Fila-list
#FilaList
></app-Fila-list>
